PuridiomInterface/src/com/tsa/puridiom/fdcs/wsdl/UpdatePOLineToMiscWO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://updatepolinetomiscwo.wsbeans.iseries" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://updatepolinetomiscwo.wsbeans.iseries/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://updatepolinetomiscwo.wsbeans.iseries">
    <wsdl:documentation>UpdatePOLineToMiscWO</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://updatepolinetomiscwo.wsbeans.iseries/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://updatepolinetomiscwo.wsbeans.iseries/xsd">
            <xs:element name="poi951">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ns:POI951Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="POI951Input">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_PI_CHGCD" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PI_DESC" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PI_EPIDNO" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PI_OQTY" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_PI_PONUMB" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PI_POSEQN" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_PI_SPLRNM" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PI_SQN01" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_PI_UNCS" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_PI_WONO" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PI_WOOPNO" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PI_WOSGNO" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="poi951Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:POI951Result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="POI951Result">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_PO_ERRORCODE" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PO_ERRORDESC" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="poi951_XML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ns:POI951Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="poi951_XMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="poi951_XMLRequest">
        <wsdl:part name="parameters" element="ns0:poi951_XML"/>
    </wsdl:message>
    <wsdl:message name="poi951_XMLResponse">
        <wsdl:part name="parameters" element="ns0:poi951_XMLResponse"/>
    </wsdl:message>
    <wsdl:message name="poi951Request">
        <wsdl:part name="parameters" element="ns0:poi951"/>
    </wsdl:message>
    <wsdl:message name="poi951Response">
        <wsdl:part name="parameters" element="ns0:poi951Response"/>
    </wsdl:message>
    <wsdl:portType name="UpdatePOLineToMiscWOPortType">
        <wsdl:operation name="poi951_XML">
            <wsdl:input message="axis2:poi951_XMLRequest" wsaw:Action="urn:poi951_XML"/>
            <wsdl:output message="axis2:poi951_XMLResponse" wsaw:Action="urn:poi951_XMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="poi951">
            <wsdl:input message="axis2:poi951Request" wsaw:Action="urn:poi951"/>
            <wsdl:output message="axis2:poi951Response" wsaw:Action="urn:poi951Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UpdatePOLineToMiscWOSOAP11Binding" type="axis2:UpdatePOLineToMiscWOPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="poi951_XML">
            <soap:operation soapAction="urn:poi951_XML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="poi951">
            <soap:operation soapAction="urn:poi951" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UpdatePOLineToMiscWO">
        <wsdl:port name="UpdatePOLineToMiscWOSOAP11port_http" binding="axis2:UpdatePOLineToMiscWOSOAP11Binding">
            <soap:address location="http://10.172.4.11:10021/web/services/UpdatePOLineToMiscWO"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
