branches/srr_java8/PuridiomInterface/src/com/tsa/puridiom/fdcs/wsdl/DeletePOLineToMiscWO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://deletepolinetomiscwo.wsbeans.iseries" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://deletepolinetomiscwo.wsbeans.iseries/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://deletepolinetomiscwo.wsbeans.iseries">
    <wsdl:documentation>DeletePOLineToMiscWO</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://deletepolinetomiscwo.wsbeans.iseries/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://deletepolinetomiscwo.wsbeans.iseries/xsd">
            <xs:element name="poi952">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ns:POI952Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="POI952Input">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_PI_CHGCD" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PI_PONUMB" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_PI_POSEQN" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_PI_SQN01" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_PI_WONO" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PI_WOOPNO" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PI_WOSGNO" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="poi952Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:POI952Result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="POI952Result">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_PO_ERRORCODE" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_PO_ERRORDESC" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="poi952_XML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ns:POI952Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="poi952_XMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="poi952_XMLRequest">
        <wsdl:part name="parameters" element="ns0:poi952_XML"/>
    </wsdl:message>
    <wsdl:message name="poi952_XMLResponse">
        <wsdl:part name="parameters" element="ns0:poi952_XMLResponse"/>
    </wsdl:message>
    <wsdl:message name="poi952Request">
        <wsdl:part name="parameters" element="ns0:poi952"/>
    </wsdl:message>
    <wsdl:message name="poi952Response">
        <wsdl:part name="parameters" element="ns0:poi952Response"/>
    </wsdl:message>
    <wsdl:portType name="DeletePOLineToMiscWOPortType">
        <wsdl:operation name="poi952_XML">
            <wsdl:input message="axis2:poi952_XMLRequest" wsaw:Action="urn:poi952_XML"/>
            <wsdl:output message="axis2:poi952_XMLResponse" wsaw:Action="urn:poi952_XMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="poi952">
            <wsdl:input message="axis2:poi952Request" wsaw:Action="urn:poi952"/>
            <wsdl:output message="axis2:poi952Response" wsaw:Action="urn:poi952Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DeletePOLineToMiscWOSOAP11Binding" type="axis2:DeletePOLineToMiscWOPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="poi952_XML">
            <soap:operation soapAction="urn:poi952_XML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="poi952">
            <soap:operation soapAction="urn:poi952" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DeletePOLineToMiscWO">
        <wsdl:port name="DeletePOLineToMiscWOSOAP11port_http" binding="axis2:DeletePOLineToMiscWOSOAP11Binding">
            <soap:address location="http://10.172.4.11:10010/web/services/DeletePOLineToMiscWO"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
